doctype html
h3 Choose Your Skill
div
    form(action='/showGraph' method="post")
        label(for='showGraph') Leki
        //- ul 
        //-     each medicine in Leki
        //-         li = input(type='checkbox' name=medicine[0] value=medicine[1])
        //- input.checkbox-input(type='checkbox', name=medicine[0], value=medicine[1])
        input.checkbox-input(type='checkbox', name=medicine[0], value=medicine[1])